body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bgimg-1 {
  background-image: url("../images/hawaii_1.jpg");
  min-height: 100vh;
}

.bgimg-2 {
  background-image: url("../images/Hawaii-2.jpg");
  min-height: 100vh;
}

.bgimg-3 {
  background-image: url("../images/Stride.jpg");
  min-height: 100vh;
}

/* Make sure that the image urls work */

.hero {
    padding: 50px 80px;
    color: #333333;
    background-color: #DEDEDE;
    text-align: center;
    font-size: 18px;
    letter-spacing: 4px;
}

.description {
  color: #333333;
  background-color: #DEDEDE;
  padding: 15px;
  font-size: 16px;
  letter-spacing: 2px;
}

.caption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #000;
    text-align: center;
}

.caption span.border {
    padding: 20px;
    color: #DEDEDE;
    background-color: #333333;
    font-size: 25px;
    letter-spacing: 8px;
}
