.page-heading {
  text-align: center;
  float: right;
}

h1 {
  text-transform: capitalize;
}

.heading-container {
  display: inline-block;
  align-items: center;
  border-style: solid;
  border-color: #a2a2a2;
  padding: 0em;
}

.image {
  float: left;
}

img {
  float: left;
}

header {
    background-color: #26272b;
    font-family: sans-serif;
    font-size: 16pt;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.menu-container {
  padding: 0;
  margin: 0;
}

.menu-item {
    display: inline-block;
    min-width: 8em;
    text-align: center;
    background-color: #26272b;
    padding: .5em 0;
    padding-left: .5em;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #000080;
}

#ptft {
  padding-left: 1em;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0;
    margin-top: 0.5em;
    color: #fff;
    background-color: #000;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: #000080;
    background-color: #a2a2a2;
}

.paragraph-text {
  text-align: center;
}

.side-head {
  border-style: solid;
  border-color: #a2a2a2;
  padding: 0;
  margin: 0;
}

.side-body {
  border-style: solid;
  border-color: #a2a2a2;
  padding-left: .5em;
  padding-top: 0;
  padding-right: .5em;
  padding-bottom: .5em;
  float: right;
}
