.page-heading {
  text-align: center;
  text-transform: capitalize;
}

.heading-container {
  align-items: center;
  border-style: solid;
  border-color: #a2a2a2;
  padding: 2em;
  display: inline-block;
}

header {
    background-color: #26272b;
    font-family: sans-serif;
    font-size: 16pt;
    text-transform: uppercase;
    margin: 0;
    height: 2.15em;
}

.menu-item {
    display: inline-block;
    margin: 5%;
    min-width: 8em;
    text-align: center;
    background-color: #26272b;
    padding: .5em 0;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
}

.menu-item:hover {
    background-color: #000080;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0;
    margin-top: 0.5em;
    color: #fff;
    background-color: #000;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: #000080;
    background-color: #a2a2a2;
}

.paragraph-text {
  text-align: center;
}
